/*! CSS Used from: https://expert-themes.com/html/eventrox/css/bootstrap.css */
*,::after,::before{box-sizing:border-box;}
section{display:block;}
h2,h4{margin-top:0;margin-bottom:.5rem;}
a{color:#007bff;text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects;}
a:hover{color:#0056b3;text-decoration:underline;}
h2,h4{margin-bottom:.5rem;font-family:inherit;font-weight:500;line-height:1.2;color:inherit;}
h2{font-size:2rem;}
h4{font-size:1.5rem;}
.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
.col-lg-4,.col-md-12,.col-md-6,.col-sm-12{position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px;}
@media (min-width:576px){
.col-sm-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;}
}
@media (min-width:768px){
.col-md-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%;}
.col-md-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;}
}
@media (min-width:992px){
.col-lg-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%;}
}
@media print{
*,::after,::before{text-shadow:none!important;box-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
h2{orphans:3;widows:3;}
h2{page-break-after:avoid;}
}
/*! CSS Used from: https://expert-themes.com/html/eventrox/css/style.css */
/*! @import https://expert-themes.com/html/eventrox/css/flaticon.css */
[class*=" flaticon-"]:before,[class*=" flaticon-"]:after{font-family:Flaticon;font-style:normal;}
.flaticon-success:before{content:"\f106";}
.flaticon-search:before{content:"\f107";}
.flaticon-diamond-1:before{content:"\f1ac";}
.flaticon-employee:before{content:"\f1b8";}
.flaticon-lecture:before{content:"\f1bb";}
/*! end @import */
/*! @import https://expert-themes.com/html/eventrox/css/animate.css */
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp;}
.zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn;}
/*! end @import */
*{margin:0px;padding:0px;border:none;outline:none;}
a{text-decoration:none;cursor:pointer;color:#f20487;}
a:hover,a:focus,a:visited{text-decoration:none;outline:none!important;}
h2,h4{position:relative;font-weight:normal;margin:0px;background:none;line-height:1.6em;font-family:'Ubuntu', sans-serif;}
.text{position:relative;font-size:16px;line-height:26px;color:#888888;font-weight:400;}
.auto-container{position:static;max-width:1200px;padding:0px 15px;margin:0 auto;}
::-webkit-input-placeholder{color:inherit;}
::-moz-input-placeholder{color:inherit;}
::-ms-input-placeholder{color:inherit;}
::selection{background:#ec167f;color:#ffffff;}
::-moz-selection{background:#ec167f;color:#ffffff;}
::-webkit-selection{background:#ec167f;color:#ffffff;}
.sec-title{position:relative;margin-bottom:70px;}
.sec-title .title{position:relative;display:block;font-size:16px;line-height:1em;color:#ff8a01;font-weight:500;background:rgb(247,0,104);background:-moz-linear-gradient(to left, rgba(247,0,104,1) 0%, rgba(68,16,102,1) 25%, rgba(247,0,104,1) 75%, rgba(68,16,102,1) 100%);background:-webkit-linear-gradient(to left, rgba(247,0,104,1) 0%,rgba(68,16,102,1) 25%,rgba(247,0,104,1) 75%,rgba(68,16,102,1) 100%);background:linear-gradient(to left, rgba(247,0,104) 0%,rgba(68,16,102,1) 25%,rgba(247,0,104,1) 75%,rgba(68,16,102,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#F70068', endColorstr='#441066',GradientType=1 );color:transparent;-webkit-background-clip:text;-webkit-text-fill-color:transparent;text-transform:uppercase;letter-spacing:5px;margin-bottom:15px;}
.sec-title h2{position:relative;display:inline-block;font-size:48px;line-height:1.2em;color:#1e1f36;font-weight:700;}
.anim-icons{position:absolute;left:0;top:0;right:0;height:100%;width:100%;max-width:1170px;margin:0 auto;}
.anim-icons .icon{position:absolute;background-position:center;background-repeat:no-repeat;}
.features-section-two{position:relative;padding:120px 0 100px;}
.features-section-two .title-block{position:relative;margin-bottom:40px;}
.features-section-two .title-block .inner-box{padding:50px 30px 0;background-color:#ffffff;}
.features-section-two .title-block .sec-title{margin-bottom:0;}
.features-section-two .title-block .sec-title .title{margin-bottom:5px;}
.feature-block-two{position:relative;margin-bottom:40px;}
.feature-block-two .inner-box{position:relative;padding:40px 30px;padding-left:100px;background-color:#ffffff;border:1px solid #eeeeee;box-shadow:0 30px 40px rgba(0,0,0,0.10);-webkit-transition:all 500ms ease;-moz-transition:all 500ms ease;-ms-transition:all 500ms ease;-o-transition:all 500ms ease;transition:all 500ms ease;overflow:hidden;}
.feature-block-two .inner-box:hover{box-shadow:none;}
.feature-block-two .icon-box{position:absolute;left:30px;top:50px;display:block;margin-bottom:30px;}
.feature-block-two .icon-box .icon{position:relative;display:inline-block;font-size:50px;line-height:1em;background:rgb(247,0,104);background:-moz-linear-gradient(to left, rgba(247,0,104,1) 0%, rgba(68,16,102,1) 100%);background:-webkit-linear-gradient(to left, rgba(247,0,104,1) 0%, rgba(68,16,102,1) 100%);background:linear-gradient(to left, rgba(247,0,104) 0%,rgba(68,16,102,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#F70068', endColorstr='#441066',GradientType=1 );background:none;color:#f14b59;-webkit-transition:all 400ms ease;-moz-transition:all 400ms ease;-ms-transition:all 400ms ease;-o-transition:all 400ms ease;transition:all 400ms ease;}
.feature-block-two .inner-box:hover .icon-box .icon{-webkit-transform:scale(-1) rotate(180deg);-moz-transform:scale(-1) rotate(180deg);-ms-transform:scale(-1) rotate(180deg);-o-transform:scale(-1) rotate(180deg);transform:scale(-1) rotate(180deg);}
.feature-block-two h4{position:relative;display:block;font-size:22px;line-height:1.2em;color:#12114a;font-weight:700;margin-bottom:10px;}
.feature-block-two h4 a{color:#12114a;display:inline-block;-webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;-ms-transition:all 300ms ease;-o-transition:all 300ms ease;transition:all 300ms ease;}
.feature-block-two h4 a:hover{color:#f14b59;}
.feature-block-two .text{position:relative;display:block;font-size:15px;line-height:24px;color:#888888;font-weight:400;cursor:default;}
.features-section-two .twist-line-1{left:-110px;top:290px;}
.features-section-two .twist-line-2{left:-10%;top:80px;}
.features-section-two .twist-line-3{left:90px;top:50px;}
.twist-line-1{height:70px;width:80px;background-image:url(https://expert-themes.com/html/eventrox/images/icons/twist-line-1.png);}
.twist-line-2{height:73px;width:70px;background-image:url(https://expert-themes.com/html/eventrox/images/icons/twist-line-2.png);}
.twist-line-3{height:73px;width:70px;background-image:url(https://expert-themes.com/html/eventrox/images/icons/twist-line-3.png);}
/*! CSS Used from: https://expert-themes.com/html/eventrox/css/responsive.css */
@media only screen and (max-width: 1139px){
.features-section-two .title-block .inner-box{background-color:transparent;padding:0;}
}
@media only screen and (max-width: 1023px){
.features-section-two .twist-line-3{display:none;}
}
@media only screen and (max-width: 767px){
.sec-title{margin-bottom:40px;}
.sec-title h2{font-size:42px;}
.features-section-two{padding:70px 0 50px;}
.feature-block-two .inner-box{padding:40px 20px;text-align:center;}
.feature-block-two .icon-box{position:relative;display:inline-block;left:0;top:0;margin-bottom:20px;}
.features-section-two .twist-line-2{display:none;}
}
@media only screen and (max-width: 599px){
.sec-title h2{font-size:34px;line-height:1.2em;}
}
/*! CSS Used keyframes */
@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translateY(20px);transform:translateY(20px);}100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0);}}
@keyframes fadeInUp{0%{opacity:0;-webkit-transform:translateY(20px);-ms-transform:translateY(20px);transform:translateY(20px);}100%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}}
@-webkit-keyframes zoomIn{0%{opacity:0;-webkit-transform:scale3d(.3, .3, .3);transform:scale3d(.3, .3, .3);}50%{opacity:1;}}
@keyframes zoomIn{0%{opacity:0;-webkit-transform:scale3d(.3, .3, .3);transform:scale3d(.3, .3, .3);}50%{opacity:1;}}
/*! CSS Used fontfaces */
@font-face{font-family:"Flaticon";src:url("https://expert-themes.com/html/eventrox/fonts/Flaticon.eot");src:url("https://expert-themes.com/html/eventrox/fonts/Flaticon.eot#iefix") format("embedded-opentype"),        url("https://expert-themes.com/html/eventrox/fonts/Flaticon.woff2") format("woff2"),        url("https://expert-themes.com/html/eventrox/fonts/Flaticon.woff") format("woff"),        url("https://expert-themes.com/html/eventrox/fonts/Flaticon.ttf") format("truetype"),        url("https://expert-themes.com/html/eventrox/fonts/Flaticon.svg#Flaticon") format("svg");font-weight:normal;font-style:normal;}
@font-face{font-family:"Flaticon";src:url("https://expert-themes.com/html/eventrox/fonts/Flaticon.svg#Flaticon") format("svg");}
@font-face{font-family:'Ubuntu';font-style:normal;font-weight:400;font-display:swap;src:local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKcg72j00.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Ubuntu';font-style:normal;font-weight:400;font-display:swap;src:local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKew72j00.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Ubuntu';font-style:normal;font-weight:400;font-display:swap;src:local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKcw72j00.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Ubuntu';font-style:normal;font-weight:400;font-display:swap;src:local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKfA72j00.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Ubuntu';font-style:normal;font-weight:400;font-display:swap;src:local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKcQ72j00.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Ubuntu';font-style:normal;font-weight:400;font-display:swap;src:local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKfw72.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Ubuntu';font-style:normal;font-weight:500;font-display:swap;src:local('Ubuntu Medium'), local('Ubuntu-Medium'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoCjC3jvWyNL4U.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Ubuntu';font-style:normal;font-weight:500;font-display:swap;src:local('Ubuntu Medium'), local('Ubuntu-Medium'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoCjC3jtGyNL4U.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Ubuntu';font-style:normal;font-weight:500;font-display:swap;src:local('Ubuntu Medium'), local('Ubuntu-Medium'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoCjC3jvGyNL4U.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Ubuntu';font-style:normal;font-weight:500;font-display:swap;src:local('Ubuntu Medium'), local('Ubuntu-Medium'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoCjC3js2yNL4U.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Ubuntu';font-style:normal;font-weight:500;font-display:swap;src:local('Ubuntu Medium'), local('Ubuntu-Medium'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoCjC3jvmyNL4U.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Ubuntu';font-style:normal;font-weight:500;font-display:swap;src:local('Ubuntu Medium'), local('Ubuntu-Medium'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoCjC3jsGyN.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Ubuntu';font-style:normal;font-weight:700;font-display:swap;src:local('Ubuntu Bold'), local('Ubuntu-Bold'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoCxCvjvWyNL4U.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Ubuntu';font-style:normal;font-weight:700;font-display:swap;src:local('Ubuntu Bold'), local('Ubuntu-Bold'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoCxCvjtGyNL4U.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Ubuntu';font-style:normal;font-weight:700;font-display:swap;src:local('Ubuntu Bold'), local('Ubuntu-Bold'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoCxCvjvGyNL4U.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Ubuntu';font-style:normal;font-weight:700;font-display:swap;src:local('Ubuntu Bold'), local('Ubuntu-Bold'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoCxCvjs2yNL4U.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Ubuntu';font-style:normal;font-weight:700;font-display:swap;src:local('Ubuntu Bold'), local('Ubuntu-Bold'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoCxCvjvmyNL4U.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Ubuntu';font-style:normal;font-weight:700;font-display:swap;src:local('Ubuntu Bold'), local('Ubuntu-Bold'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoCxCvjsGyN.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}