body {
  font-family: sans-serif;
}
.pagination ul.page-list li {
  padding: 5px;
  display: inline-block;
}
.pagination ul.page-list li.active a {
  color: #fff;
  border-color: #f9004d;
}
.pagination ul.page-list li.active a:before {
  opacity: 1;
  visibility: visible;
}
.pagination ul.page-list li a {
  padding: 0 10px;
  display: block;
  text-align: center;
  line-height: 38px;
  min-width: 42px;
  height: 42px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: #fff;
  color: #000;
  position: relative;
  z-index: 2;
  font-weight: 600;
  border-radius: 4px;
}
.pagination ul.page-list li a:before {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  background: -webkit-linear-gradient(349deg, #f81f01, #ee076e);
  background: linear-gradient(-259deg, #f81f01, #ee076e);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.pagination ul.page-list li a:hover {
  color: #fff;
  border-color: #f9004d;
}
.pagination ul.page-list li a:hover:before {
  opacity: 1;
  visibility: visible;
}