/*! CSS Used from: https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/css/main.css?v438 */
*,*::before,*::after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
div,span,h3,p,a,form{margin:0;padding:0;}
footer,section{display:block;}
h3{font-family:neue-haas-grotesk-display, sans-serif;line-height:1.1;font-weight:600;}
h3{margin-bottom:1.5rem;}
a{outline:none;color:#111;text-decoration:none;font-weight:inherit;}
a:hover,a:focus{color:#626262;}
a:focus{outline:1px solid rgba(0, 0, 0, 0.05);}
input[type="submit"]{display:inline-block;padding:10px 20px;border:none;color:#fff;text-decoration:none;text-shadow:none;font-weight:700;font-size:0.9rem;line-height:20px;cursor:pointer;background:#0099cc;font-family:inherit;}
input[type="submit"]:hover{background:#02759c;}
input[type="submit"]:active{background:#02759c;}
.ct-cssref-widget__footer a{white-space:nowrap;font-size:0.9rem;vertical-align:middle;}
.ct-cssref-widget__footer a::after{font-family:'codrops-icons';content:'\e604';padding-left:0.5em;vertical-align:middle;}
.ct-box p{line-height:1.5;margin-bottom:1rem;}
.ct-box{padding:3rem;background:#f5f5f5;}
input[type="text"]{padding:1rem;border:1px solid #d2dadd;background:#fff;font-size:1rem;font-family:inherit;}
input[type="text"]:focus{outline:none;border-color:#000;}
.ct-icon-search:before{text-transform:none;font-weight:normal;font-style:normal;font-variant:normal;font-size:18px;font-family:'codrops-social';line-height:40px;line-height:1;speak:none;-webkit-font-smoothing:antialiased;}
.ct-icon-search:hover:before{color:#fff;}
.ct-icon-search:before{content:"\e006";font-size:20px;}
.ct-container .twitter-typeahead{width:100%!important;background:#fff;}
.ct-container .tt-dropdown-menu{border:none;border-radius:0px;}
.ct-icon-search{position:absolute;top:0;right:0;display:block;width:34px!important;height:34px;text-align:center;line-height:42px;cursor:pointer;}
.ct-icon-search{z-index:90;background:#0099cc;color:#237dac;}
input[type="text"].tt-hint{margin:0;padding:2px 7px;width:262px;height:34px;outline:none;border:none;background:#fff;font-family:inherit;opacity:0;font-weight:bold;}
::-webkit-input-placeholder{color:#ddd;}
:-moz-placeholder{color:#ddd;}
::-moz-placeholder{color:#ddd;}
:-ms-input-placeholder{color:#ddd;}
.ct-cssref-searchinput{position:relative;}
.ct-cssref-searchinput .ct-icon-search{right:auto;left:0;width:50px!important;height:100%;background:transparent;cursor:default;}
.ct-cssref-searchinput .ct-icon-search:before{position:absolute;top:50%;left:50%;margin:-10px 0 0 -10px;}
.ct-cssref-searchinput .ct-icon-search:hover:before,.ct-cssref-searchinput .ct-icon-search:before{color:rgb(221, 221, 221);}
.ct-cssref-searchinput input[type="text"],.ct-cssref-searchinput input[type="text"].tt-hint{padding:5px 15px 5px 45px;width:100%;height:50px;border:none;border-radius:1px;background:rgb(75, 94, 115);box-shadow:none;color:#fff;font-weight:700;font-size:0.9em;font-family:inherit;}
.ct-cssref-searchinput--inverted input[type="text"],.ct-cssref-searchinput--inverted input[type="text"].tt-hint{background:#fff;color:rgb(75, 94, 115);}
.ct-cssref-searchinput input[type="text"]::-webkit-input-placeholder{color:rgb(221, 221, 221);font-weight:bold;}
.ct-cssref-searchinput input[type="text"]:-moz-placeholder{color:rgb(221, 221, 221);font-weight:bold;}
.ct-cssref-searchinput input[type="text"]::-moz-placeholder{color:rgb(221, 221, 221);font-weight:bold;}
.ct-cssref-searchinput input[type="text"]:-ms-input-placeholder{color:rgb(221, 221, 221);font-weight:bold;}
.ct-cssref-searchinput input[type="text"]:focus::-webkit-input-placeholder{color:transparent;}
.ct-container .ct-cssref-searchinput .twitter-typeahead{background:rgb(75, 94, 115);}
.ct-container .ct-cssref-searchinput--inverted .twitter-typeahead{background:#fff;}
.ct-cssref-searchinput input[type="text"]:focus{outline:none;background:rgb(87, 107, 129);}
.ct-cssref-searchinput--inverted input[type="text"]:focus{background:#fff;}
.ct-cssref-searchinput input[type="submit"]{display:none;}
.ct-container .ct-cssref-searchinput .tt-dropdown-menu{margin-top:0;padding:0;background:#37495d;}
.ct-container .ct-cssref-searchinput--inverted .tt-dropdown-menu{background:#dce0e5;}
.ct-cssref-widget{margin:0 0 2rem;background:#f5f5f5;}
.ct-cssref-widget__footer{margin-top:2rem;}
@media screen and (max-width:800px){
.ct-cssref-widget{margin:0;width:100%;border:none;border-bottom:3px solid #f5f5f5;}
.ct-cssref-widget{border:none;}
}
/*! CSS Used from: https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/css/main_print.css?v5 ; media=print */
@media print{
*{text-shadow:none!important;box-shadow:none!important;float:none!important;width:auto!important;}
}
/*! CSS Used from: https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/plugins/wp-typeahead/css/typeahead.css?ver=5.3.2 ; media=all */
@media all{
.twitter-typeahead{width:73%!important;}
.twitter-typeahead *{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.tt-query,.tt-hint{padding:6px;outline:none;width:100%!important;vertical-align:inherit!important;}
.tt-hint{color:#999;}
.tt-dropdown-menu{width:100%;margin-top:12px;padding:8px 0;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0, 0, 0, 0.2);-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2);text-shadow:none;}
}
/*! CSS Used fontfaces */
@font-face{font-family:neue-haas-grotesk-display;src:url(https://use.typekit.net/af/8a200c/00000000000000003b9b204a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3) format("woff2"),url(https://use.typekit.net/af/8a200c/00000000000000003b9b204a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3) format("woff"),url(https://use.typekit.net/af/8a200c/00000000000000003b9b204a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3) format("opentype");font-weight:600;font-style:normal;}
@font-face{font-weight:normal;font-style:normal;font-family:'codrops-icons';src:url('https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/fonts/codrops-icons.eot');src:url('https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/fonts/codrops-icons.eot#iefix') format('embedded-opentype'), url('https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/fonts/codrops-icons.woff') format('woff'), url('https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/fonts/codrops-icons.ttf') format('truetype'), url('https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/fonts/codrops-icons.svg#codrops-icons') format('svg');}
@font-face{font-weight:normal;font-style:normal;font-family:'codrops-social';src:url('https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/fonts/codrops-social.eot');src:url('https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/fonts/codrops-social.eot#iefix') format('embedded-opentype'), url('https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/fonts/codrops-social.woff') format('woff'), url('https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/fonts/codrops-social.ttf') format('truetype'), url('https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/fonts/codrops-social.svg#codrops-social') format('svg');}