body{
    margin: 0;
    padding: 0;
    background-color: #3E4162;
    font-family: "Dosis", sans-serif;
    transition: .4s all linear;
    -webkit-transition: .4s all linear;
    -moz-transition: .4s all linear;
}
.container{
    width: 540px;
    margin: 200px auto;
}
.header{
    padding: 0 20px;
    color: white;
}
.header h2{
    font-size: 32px;
    margin: 0 0 0 60px;

}
.header p{
    font-size: 12px;
    color: #676c9d;
    margin: 0 0 0 60px;

}
.wrap{
    text-align: center;
    padding: 10px 30px 120px 30px;
}
.group{
    position: relative;
    padding: 10px 40px;
}
input, input[type="password"], .input-invalid{
    width: 100%;
    height: 55px;
    padding: 0 0 0 20px;
    border-radius: 50px;
    color: white;
    font-size: 18px;
    font-family: "Dosis", sans-serif;
    border:2px solid #777caa;
    outline: none;
    background-color: #484B6A;
}
.input-invalid{
    border:2px solid #e74c3c;
}
.fa{
    position: absolute;
    top: 30px;
    right: 40px;
    color: #777caa;
    font-size: 22px;
    
}
.circle{
    position: absolute;
    top: 0px;
    right: 25px;
    color: white;
    border-radius: 100px;
    padding: 3px 2px 1px 2px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    border:transparent;
    visibility: hidden;
}
.circle-pass{
    position: absolute;
    top: 0px;
    right: 25px;
    color: white;
    border-radius: 100px;
    padding: 3px 2px 1px 2px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    border:transparent;
    visibility: hidden;
}
.group a{
    float: left;
    color: #676c9d;
    font-size: 12px;
    margin: 10px 0 0 20px;
}
.group button{
    float: right;
    margin: 0 -23px 0 0 ;
    padding: 10px 25px;
    border-radius: 50px;
    font-size: 16px;
    border:2px solid white;
    background-color: rgba(255, 255, 255, 1);
    color: black;
    font-family: "Dosis", sans-serif;
    transition: .4s all linear;
    -webkit-transition: .4s all linear;
    -moz-transition: .4s all linear;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}
.group button:hover{
    background-color: rgba(255, 255, 255, 0.85);
    color: black;
}
.valid {
    visibility: visible;
    background-color: #27ae60;
}
.invalid{
    visibility: visible;
    background-color: #e74c3c;
}
.divider{
    margin: 0 auto;
    width: 60%;
    height: 2px;
    background-color: #676c9d;
}
.bottom{
    margin: 0 auto;
    text-align: center;
    margin: 10px;
    color: #676c9d;
    font-size: 12px;
}
.bottom a{
    color: #676c9d;
    margin: 0 5px;
}
.inspire{
    color: white;
    text-align: center;
}
.inspire a{
    color: white;
    padding: 0 5px;
}