.jumbotron {
  color: #fff;
  position: relative;
  background-color: transparent;
}
.jumbotron.bg-img {
  height: 440px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://xvelopers.com/demos/html/record/assets/img/demo/b1.jpg');
}
.jumbotron .content {
  z-index: 1;
  bottom: 40px;
  position: absolute;
}
@media (min-width: 780px) {
  .jumbotron .content {
    max-width: 60%;
  }
}
.jumbotron::after {
  left: 0;
  bottom: 0;
  display: block;
  position: absolute;
  width: 100%;
  content: '';
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #131722 100%);
  height: 400px;
}