body {
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}
.ptb--120 {
  padding: 120px 0;
}
.bg_color--5 {
  background: #f8f9fc;
}
.rn-testimonial-content {
  -webkit-filter: blur(30px);
  filter: blur(30px);
  opacity: 0;
  -webkit-transform: scale(0.2);
  transform: scale(0.2);
  -webkit-transition: opacity 0.4s cubic-bezier(0.82, 0, 0.12, 1) 0.2s, -webkit-filter 0.3s cubic-bezier(0.82, 0, 0.12, 1) 0.1s, -webkit-transform 0.6s cubic-bezier(0.82, 0, 0.12, 1);
  transition: opacity 0.4s cubic-bezier(0.82, 0, 0.12, 1) 0.2s, -webkit-filter 0.3s cubic-bezier(0.82, 0, 0.12, 1) 0.1s, -webkit-transform 0.6s cubic-bezier(0.82, 0, 0.12, 1);
  transition: filter 0.3s cubic-bezier(0.82, 0, 0.12, 1) 0.1s, transform 0.6s cubic-bezier(0.82, 0, 0.12, 1), opacity 0.4s cubic-bezier(0.82, 0, 0.12, 1) 0.2s;
  transition: filter 0.3s cubic-bezier(0.82, 0, 0.12, 1) 0.1s, transform 0.6s cubic-bezier(0.82, 0, 0.12, 1), opacity 0.4s cubic-bezier(0.82, 0, 0.12, 1) 0.2s, -webkit-filter 0.3s cubic-bezier(0.82, 0, 0.12, 1) 0.1s, -webkit-transform 0.6s cubic-bezier(0.82, 0, 0.12, 1);
}
.rn-testimonial-content .inner {
  padding-bottom: 62px;
}
.rn-testimonial-content .inner p {
  font-size: 36px;
  line-height: 58px;
  color: #18181b;
  font-weight: 500;
  padding: 0 9%;
  margin-bottom: 0;
  margin-top: -16px;
  position: relative;
  z-index: 2;
}
.rn-testimonial-content .inner p:after,
.rn-testimonial-content .inner p:before {
  width: 197px;
  position: absolute;
  content: "";
  opacity: 1;
  background-repeat: no-repeat;
  z-index: -1;
}
.rn-testimonial-content .inner p:before {
  height: 100%;
  left: 25%;
  top: -50px;
  background-image: url(../../_lib/img/image-1.png);
}
.rn-testimonial-content .inner p:after {
  height: 202px;
  right: 25%;
  bottom: -115px;
  background-image: url(../../_lib/img/image-2.png);
}
.rn-testimonial-content .author-info {
  margin-bottom: 50px;
}
.rn-testimonial-content .author-info h6 {
  font-size: 18px;
  line-height: 50px;
  color: #8c8c8c;
  font-weight: 300;
}
.rn-testimonial-content .author-info h6 span {
  color: #18181b;
  text-transform: uppercase;
}
.react-tabs__tab-panel.react-tabs__tab-panel--selected .rn-testimonial-content {
  opacity: 1;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transform: scale(1);
  transform: scale(1);
}
ul.testimonial-thumb-wrapper {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 510px;
  margin: 0 auto -30px;
  outline: none;
}
ul.testimonial-thumb-wrapper li {
  padding-left: 15px;
  padding-right: 15px;
  flex-basis: 20%;
  margin-bottom: 30px;
  outline: none;
  cursor: pointer;
}
ul.testimonial-thumb-wrapper li .thumb {
  position: relative;
  display: inline-block;
  width: 100%;
}
ul.testimonial-thumb-wrapper li .thumb img {
  width: 100%;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
ul.testimonial-thumb-wrapper li .thumb img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  object-fit: contain;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
}
ul.testimonial-thumb-wrapper li .thumb:after {
  width: 13px;
  height: 13px;
  background: #f9004d;
  right: -8.5px;
  top: -8.5px;
  position: absolute;
  content: "";
  border-radius: 100%;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
ul.testimonial-thumb-wrapper li.react-tabs__tab--selected .thumb img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  object-fit: contain;
  border-radius: 6px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
}
ul.testimonial-thumb-wrapper li.react-tabs__tab--selected .thumb:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}