body {
  padding: 30px;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}
.text-center {
  text-align: center!important;
}
a {
  color: #ca3c08;
  text-decoration: none;
}
a.btn,
button.btn {
  color: #c6c9d8;
  font-size: 16px;
  transition: 0.3s;
  font-weight: 500;
  border-radius: 6px;
  padding: 15px 40px;
  letter-spacing: 2px;
  display: inline-block;
  -webkit-transition: 0.3s;
  border: 2px solid #b1b4c1;
  text-transform: uppercase;
}
a.btn.btn-solid,
button.btn.btn-solid {
  color: #fff;
  background: #f9004d;
  border: 2px solid #f9004d;
}
a.btn.btn-outline:hover,
button.btn.btn-outline:hover {
  border-color: #f9004d;
}
a.btn:hover,
button.btn:hover {
  color: #f9004d;
  background: transparent;
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
}
.row {
  margin: 0 -20px;
}
.row:after {
  content: '';
  clear: both;
  display: table;
}
.col-4 {
  float: left;
  width: 33.333%;
  padding: 0 20px;
}
.card {
  width: 100%;
  padding-top: 35%;
  min-height: 500px;
  position: relative;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.card .thumbnail-inner {
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  border-radius: 5px;
  background-size: cover;
  background-position: 50%;
  transition: transform 0.28s ease;
  transition: -webkit-transform 0.28s ease;
  -webkit-transition: -webkit-transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease;
}
.card .thumbnail-inner:before {
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #f6004c;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: linear-gradient(#f6004c 10%, #000);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: -webkit-linear-gradient(#f6004c 10%, #000);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #f6004c), to(#000));
}
.card .thumbnail {
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  background-size: cover;
  background-position: 50%;
  background-color: #0a0a0a;
  backface-visibility: hidden;
  transition: transform 0.28s ease;
  -webkit-backface-visibility: hidden;
  transform: scale(1.13) translateZ(0);
  transition: -webkit-transform 0.28s ease;
  -webkit-transform: scale(1.13) translateZ(0);
  -webkit-transition: -webkit-transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease;
}
.card .thumbnail:after {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: " ";
  display: block;
  border-radius: 5px;
  position: absolute;
  background-color: rgba(25, 25, 25, 0.37);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.card .thumbnail.image-1 {
  background-image: url(../../_lib/img/portfolio-1.jpg);
}
.card .content {
  left: 40px;
  padding: 0;
  z-index: 10;
  right: 40px;
  bottom: 40px;
  margin: 0 auto;
  position: absolute;
  max-width: 80%!important;
}
.card .content .inner p {
  color: #c6c9d8;
  font-size: 14px;
  line-height: 30px;
}
.card .content .inner h4 {
  font-size: 24px;
  line-height: 36px;
}
.card .content .inner h4 a {
  color: #fff;
}
.card .content .inner .portfolio-button {
  transition: 0.7s;
  margin-top: 35px;
  -webkit-transition: 0.7s;
}
.card .portfolio-button .btn-outline:hover {
  color: #fff;
  background: #f9004d;
}
.card:hover .thumbnail-inner {
  transform: scale(1.08) translateZ(0);
  -webkit-transform: scale(1.08) translateZ(0);
}
.card:hover .thumbnail-inner:before {
  opacity: 0.85;
}
.card:hover .thumbnail:after {
  background-color: rgba(25, 25, 25, 0.24);
}
.card.blog {
  overflow: hidden;
  border-radius: 5px;
}
.card.blog .content {
  z-index: 9;
  width: 100%;
  bottom: -100px;
  padding: 50px 10px;
  position: absolute;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.card.blog:hover .content {
  bottom: 0;
}
.services a {
  height: 100%;
  display: flex;
}
.services .service {
  z-index: 2;
  padding: 60px 45px;
  position: relative;
  border-radius: 10px;
  background: #f6f6f6;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.services .service:before {
  top: 0;
  left: 0;
  content: "";
  opacity: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  position: absolute;
  visibility: hidden;
  border-radius: 10px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: linear-gradient(90deg, #f61b10, #ef0963);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: -webkit-linear-gradient(left, #f61b10, #ef0963);
  background-image: -webkit-gradient(linear, left top, right top, from(#f61b10), to(#ef0963));
}
.services .service .icon {
  color: #f9004d;
  font-size: 54px;
  font-weight: 400;
  margin-bottom: 23px;
  display: inline-flex;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.services .service .icon svg {
  stroke-width: 1!important;
}
.services .service .content h3.title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 19px;
  color: rgba(29, 29, 36, 0.75);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.services .service .content p {
  line-height: 24px;
  color: rgba(29, 29, 36, 0.75);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.services .service:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  box-shadow: 0 10px 25px 10px rgba(0, 0, 0, 0.1);
}
.services .service:hover:before {
  opacity: 1;
  visibility: visible;
}
.services .service:hover .icon {
  color: #fff;
}
.services .service:hover .content h3.title,
.services .service:hover .content p {
  color: #fff;
}
.card.team {
  margin-bottom: 30px;
  padding-top: 0;
  overflow: hidden;
  border-radius: 6px;
  position: relative;
}
.card.team .thumbnail {
  display: block;
  position: relative;
  z-index: 1;
}
.card.team .thumbnail:after {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fc004d), to(#000));
  background: -webkit-linear-gradient(top, #fc004d, #000);
  background: linear-gradient(180deg, #fc004d 0, #000);
  right: 0;
  height: 100%;
  content: "";
  z-index: 1;
}
.card.team .content {
  bottom: 0;
  padding: 35px 40px;
  z-index: 2;
  visibility: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.card.team .content h4.title {
  color: #fff;
  margin: 0;
}
.card.team .content p.designation {
  color: #c6c9d8;
  font-size: 14px;
  line-height: 34px;
}
.card.team ul.social-icon {
  position: absolute;
  top: 25px;
  left: 35px;
  padding: 0;
  z-index: 2;
  list-style: none;
  display: flex;
  margin: 0 -10px;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.card.team ul.social-icon li {
  margin: 0 10px;
}
.card.team ul.social-icon li a svg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.card.team ul.social-icon li a {
  color: #fff;
  font-size: 15px;
}
.card.team:hover .thumbnail:after {
  opacity: 0.85;
  top: 0;
}
.card.team:hover .content,
.card.team:hover ul.social-icon {
  opacity: 1;
  visibility: visible;
}
.card.team:hover ul.social-icon {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.card-address {
  margin-top: 30px;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  background: #fff;
  padding: 54px 40px 50px;
  position: relative;
}
.card-address .icon {
  border: 1px solid #ebebeb;
  width: 78px;
  height: 78px;
  color: #f9004d;
  line-height: 73px;
  text-align: center;
  border-radius: 100%;
  background: #fff;
  font-size: 28px;
  position: absolute;
  top: -40px;
  left: 40px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.card-address .icon svg {
  vertical-align: middle;
}
.card-address .inner h4.title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4074;
  color: #1f1f25;
  margin-bottom: 15px;
}
.card-address .inner p {
  color: #1f1f25;
  font-size: 18px;
  margin-bottom: 0;
  line-height: 30px;
}
.card-address:hover .icon {
  background: #f9004d;
  border-color: #f9004d;
  color: #fff;
}
.single-svg-icon-box {
  position: relative;
  height: 100%;
  padding: 37px 30px 34px;
  background: #fff;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.05);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.05);
  z-index: 9;
  min-height: 300px;
}
.single-svg-icon-box .grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #222;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #000000;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  background-image: url(../../_lib/img/feature-1.jpg);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.single-svg-icon-box .inner {
  position: relative;
  z-index: 5;
}
.single-svg-icon-box .svg-icon {
  width: 60px;
  margin-bottom: 22px;
}
.single-svg-icon-box .content h5 {
  margin: 0;
  font-size: 20px;
  margin-bottom: 18px;
  font-weight: 500;
  color: #222222;
  letter-spacing: 0em;
  line-height: 1.23;
  font-family: sans-serif;
}
.single-svg-icon-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.single-svg-icon-box:hover {
  background: none;
}
.single-svg-icon-box:hover::before {
  opacity: 0.5;
}
.single-svg-icon-box:hover .grid-overlay {
  opacity: 1;
  visibility: visible;
}
.single-svg-icon-box:hover .content h5,
.single-svg-icon-box:hover .content p {
  color: #fff;
}