body {
  padding: 30px;
}
* {
  box-sizing: border-box;
}
.brand-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.brand-list li {
  height: 214px;
  flex-basis: 33.33%;
  line-height: 214px;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.brand-list li img {
  opacity: 0.7;
  transition: 0.3s;
  max-width: 150px;
  max-height: 110px;
  -webkit-transition: 0.3s;
  vertical-align: middle;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.brand-list li:hover {
  border-radius: 6px;
  transform: scale(1.1);
  background-color: #f9004d;
  -webkit-transform: scale(1.1);
}
.brand-list li:hover img {
  opacity: 1;
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}