.fix {
  overflow: hidden;
}
.slider-paralax {
  height: 950px;
}
.personal-portfolio-slider {
  position: relative;
}
.bg_image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-image: url(../../_lib/img/bg-image-25.jpg);
}
.slide .inner {
  padding-top: 100px;
}
.slide .inner > span {
  color: #1f1f25;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: block;
  margin-bottom: 20px;
}
.slide .inner h1.title {
  color: #1f1f25;
  font-size: 75px;
  font-weight: 900;
  font-family: Montserrat, sans-serif;
  line-height: 90px;
  text-transform: inherit;
  width: 70%;
}
.slide .inner h1.title span {
  color: #f9004d;
}