.page-error {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.logo {
  top: 0;
  left: 0;
  position: absolute;
}
.block-error {
  padding: 90px;
  margin-top: 30px;
  text-align: center;
  border-radius: 50%;
  text-transform: uppercase;
  background-color: #b3e0f1;
  box-shadow: 0px 3px 6px 0px rgba(3, 3, 3, 0.2);
}
.block-error h4 {
  font-size: 50px;
}
.block-error p {
  margin: 20px 0;
}
.block-error h1 {
  font-size: 40vh;
  font-weight: bold;
}