body {
  background-color: #212121;
}
.card {
  color: #fff;
}
.card .date {
  margin-right: 15px;
}
.card .card-footer {
  padding: 0;
  border-top: 0;
  margin-top: 15px;
  background-color: transparent;
}
.card .card-footer .list ul {
  margin-top: 10px;
}
.card .card-footer .list ul li img {
  box-shadow: -2px 0 3px 0 rgba(140, 139, 139, 0.5);
}
.card .card-footer .list ul li + li {
  margin-left: -20px;
}